html
  head
    title Chat
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styling/chat.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/styling/chat.js')
  body
    include navbar.pug
    audio(id='audio' src='/styling/aol.mp3')
    div(id='container')
      div(class='row' id='messageBox')
        ul(id='messages')
        label(id='typingArea')
      div(class='row' id='messageContainer')
        form(action='')
          center
            a(class='btn-floating btn-large red')
              i(class='large material-icons') add
            input(class='input-field' id='message' autocomplete='off' placeholder='Message' onkeydown='currentlyTyping()')
            a(class='btn-floating red')
              i(class='material-icons') mood
    div(id='usernameModal' class='modal')
      div(class='modal-content')
        h4 Claim a Username
        input(class='input-field' placeholder='Username' id='username')
      div(class='modal-footer')
        a(class='waves-effect waves-green btn-flat' id='usernameBtn' onclick='confirmUsername()') Ok
