html
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/node_modules/materialize-css/dist/css/materialize.min.css')
    script(src='/node_modules/materialize-css/dist/js/materialize.min.js')
  body
    div(class='navbar-fixed')
      nav
        div(class='nav-wrapper')
          a(href="" class="brand-logo center") Group Chat
