body{
	width: 100% !important;
}
#messageContainer{
	overflow: hidden;
	bottom: 0px;
	position: fixed;
	width: 100%;
	margin-bottom: 0;
}

.welcome {
	margin-top: 10px;
	margin-bottom: 5px;
}

#message:focus {
	border-bottom: 0px solid #9e9e9e;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
#message::-webkit-input-placeholder {
	color: #4f4f4f !important;
}

#messageBox {
	margin-bottom: 120px;
}

#message {
	width: 55%;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 20px;
	padding: 10px;
	background: white;
	border-bottom: 0px solid #9e9e9e;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.receivedDiv {
	width: 100%;
	display: inline-block;
	margin-top: 5px;
}

.receivedMessage {
	display: block; 
	padding: 10px; 
	border-radius: 20px; 
	margin-left: 10px;
	background-color: #E4E3E9;
	color: black;
	word-wrap: break-word; 
	max-width: 75%;
	float: left;
}

.usernameDiv {
	width: 100%;
	display: inline-block;
	margin-top: 0;
}

.usernameAndDate {
	color: gray;
	margin-left: 20px;
	font-size: 12px;
	margin-top: 0;
}

.sentDiv {
	width: 100%;
	display: inline-block;
	margin-top: 5px;
}

.sentMessage {
	display: block; 
    padding: 10px; 
    border-radius: 20px; 
	margin-right: 10px;
    background-color: #158DFE;
	color: white; 
    word-wrap: break-word; 
    max-width: 75%;
	float: right;
}
  
.sentMessage > .inner {
	position: relative;
	padding-bottom: 75%;
	height: 0px;
}
  
.sentMessage iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#typingArea {
	overflow: hidden; 
	padding: 10px; 
	border-radius: 20px; 
	margin-left: 10px; 
	margin-top: 10px; 
	background-color: #E4E3E9; 
	max-width: 70%;
	height: 50px; 
	width: 100px;
	display: none;
}
#inner {
	overflow: hidden;
	width: 100%;
}
#dot1{
	float: left;
	margin-left: 12px;
	width: 15px;
	max-width: 15px;
    	height: 15px;
    	border-radius: 50%;
	background-color: #9E9DA2;
	margin-top: 8px;
	animation-name: coloredDots1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
#dot2{
	margin-left: 5px;
	float: left;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #B6B5BA;
        margin-top: 8px;
	animation-name: coloredDots2;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
}
#dot3{
	float: left;
	margin-left: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #B6B5BA;
        margin-top: 8px;
	animation-name: coloredDots3;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
}

@keyframes coloredDots1 {
	0%	{background-color: #B6B5BA}	
	50%	{background-color: #B6B5BA}
	100%	{background-color: #9E9DA2}
}
@keyframes coloredDots2 {
        0%      {background-color: #9E9DA2}     
        50%     {background-color: #B6B5BA}
        100%    {background-color: #B6B5BA}
}
@keyframes coloredDots3 {
        0%      {background-color: #B6B5BA}     
        50%     {background-color: #9E9DA2}
        100%    {background-color: #B6B5BA}
}
